*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: palevioletred;
   display: flex; 
   justify-content: space-between;
   align-items: center;
   height: 60px;
   padding: 0 48px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul a{
    text-decoration: none;
    padding: 22px 10px;
    margin: 5px 10px;
    color: white;

}
h1{
    font-size: 36px;
}
li{
    position: relative;
    
}
.submenu{
    position: absolute;
    background-color: palevioletred;
    left: 0;
    top: 39px;
    flex-direction: column;
    display: none;
    border: 2px solid white;
    margin: 5px;
    border-radius: 10px;
    
}
.submenu li{
    border: 2px solid white;
    padding: 10px 10px;
    margin: 5px 5px;
    box-shadow: 3px 3px 5px lightblue inset;

}
nav ul li:hover .submenu{
    display: flex;
    

}